:root{
    --black: #262626;
    --white: #ffffff;
    --green: #7ebe4c;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}
h1{
    color: var(--green);
}
.btn{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    text-align: center;
    font-size: 0.875rem;
    background-color: var(--green);
    color: var(--white);
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  text-shadow:  2px 2px 3px rgba(255,255,255,.5),
              -4px -4px 6px rgba(116, 125, 136, .2);
  outline: none;
}

.btn:hover{
    color: rgba(81, 255, 0, 0.7);
    background: linear-gradient(0deg, rgba(51, 255, 0, 0.986) 0%, rgba(2, 251, 56, 0.5) 100%);
    color: var(--black);
 }
.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--white);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}
.currency input {
    border: 0;
    background-color: transparent;
    font-size: 1.75rem;
    text-align: right;
    color: var(--white);
}
.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate{
    color: var(--green);
    font-size: 0.875rem;
    padding: 0 10px;
}
select:focus, input:focus, button:focus{
    outline: 0;
}

@media (max-width: 600px){
    .currency input{
        width: 200px;
    }
}
footer {
	display: flex;
	flex-direction: row;
  justify-content: space-around;
  position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}
.social-media{
  margin: 0 20px 10px 0;
}
h6{
    
  margin-left: 10px;
}
i {
	color: white;
	transition: all 0.5s;
	font-size: 1rem;
}

i:hover {
	transform: scale(1.1);
}

